{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block main %}
	<div
		class="container-fluid">
		<!-- start page title -->
		<div class="row">
			<div class="col-12">
				<div class="page-title-box">
					<h4 class="page-title">{{entity.instance.title}}
						<span data-action="click->global#addToFavorites" data-entity-id="{{ entity.instance.id }}" data-entity-class="Prolyfix\RssBundle\Entity\News">
							<i class="fa fa-heart"></i>
						</span>
					</h4>
					{# Todo: intégrer les boutons d'easy admin.#}

				</div>
			</div>
		</div>
		<!-- end page title -->
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body" data-controller="order">
						{{entity.instance.content |raw}}
						{% if entity.instance.filename is not null %}
							<a href="{{ ea_url() .setController('Prolyfix\HolidayAndTime\Controller\\Admin\\MediaCrudController') .setAction('servePrivateFileByName') .set('fileName', entity.instance.filename) }}" class="">Download File</a>
						{% endif %}
						<div class="mt-3">
							{% include '@ProlyfixHolidayAndTime/common/avatar.html.twig' with {'user': entity.instance.createdBy} %}
							<small class="text-muted">{{ entity.instance.creationDate|date('Y-m-d') }}</small>
						</div>
						<div class="mt-3">
							{% set somme = 0 %}
							{% for readen in entity.instance.readsStats %}
								{% set somme = somme + readen %}
							{% endfor %}
							{{somme}}/{{entity.instance.readsStats | length}} <br>
							Gelesen von:
							{% for userId, readen in entity.instance.readsStats %}
								{% if readen == 1 %}
									{{ generateAvatar(userId) | raw}}
								{% endif %}
							{% endfor %}
							 <br/>
							{% if is_granted('ROLE_ADMIN') %}
								nicht gelesen von:
								{% for userId, readen in entity.instance.readsStats %}
									{% if readen == 0 %}
										{{ generateAvatar(userId) | raw}}
									{% endif %}
								{% endfor %}
							{% endif %}

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end row -->

	</div>
	<input type="hidden" id="comment_class_name" value="news">
	{% include '@ProlyfixHolidayAndTime/section/comment/comments.html.twig' with {'comments': entity.instance.comments} %}

{% endblock %}
