{% extends 'widget/_skeleton.html.twig' %}
{% block content %}
  {% set userId = app.user.id %}
  <ul>
    {% for entry in feedEntries %}
      <li>
        <a href="{{ entry.link }}"  style="color:inherit">{{ entry.title }} | {{ entry.rssFeedList.name }}
        </a>
        {% if userId not  in entry.readByIds %} 
        <span class="badge text-bg-info">{% trans %} New{% endtrans %} </span>
        {% endif %}
        {% if entry.createdBy is not null %}
          | <b>{{ entry.createdBy.name }}</b>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <a href="{{ path('admin', { crudAction: 'index', crudControllerFqcn: 'Prolyfix\\RssBundle\\Controller\\Admin\\NewsCrudController' }) }}" class="btn btn-primary">{{ 'Alle'|trans }}</a>
{% endblock %}
